/* Index.css */
.container {
  position: relative;
  width: 1200px;
  height: 600px;
  margin: 0 auto;
}

.satellite, .converter {
  position: absolute;
  width: 120px;
  height: 120px;
  background-size: cover;
  background-position: center;
}

.satellite {
  background-image: url('/satellite.png');
}

.converter {
  width: 50px;
  height: 50px;
  background-image: url('/converter.jpeg');
}

#satellite1 {
  top: 25px;
  left: 150px;
  transform: rotate(-125deg);
}

#satellite2 {
  top: 25px;
  left: 1150px;
}

#satellite3 {
  top: 525px;
  left: 630px;
  transform: rotate(120deg);
}

#converter1 {
  top: 150px;
  left: 320px;
}

#converter2 {
  top: 150px;
  left: 1020px;
}

#converter3 {
  top: 400px;
  left: 680px;
}

.line {
  position: absolute;
  background-color: black;
  transform-origin: 0 0;
}

#line1 {
  top: 120px;
  left: 265px;
  width: 2px;
  height: 60px;
  transform: rotate(-55deg);
}

#line2 {
  top: 120px;
  left: 1140px;
  width: 2px;
  height: 60px;
  transform: rotate(55deg);
}

#line3 {
  top: 455px;
  left: 705px;
  width: 2px;
  height: 60px;
  transform: rotate(0deg);
}

#line4 {
  width: 2px;
  height: 320px;
  top: 190px;
  left: 375px;
  transform: rotate(-80deg);
}

#line5 {
  width: 2px;
  height: 320px;
  top: 245px;
  left: 690px;
  transform: rotate(-100deg);
}

#line6 {
  width: 2px;
  height: 140px;
  top: 245px;
  left: 690px;
  transform: rotate(-5deg);
}

/* Label styling */
.label {
  padding: 2px 5px;
  border: 1px solid black;
  border-radius: 3px;
  text-align: center;
  white-space: nowrap;
  position: absolute;
  color: black;
  background-color: white;
  font-size: 20px;
  max-width: 300px; /* Restrict the maximum width */
  cursor: pointer; /* Indicate that the label is interactive */
  transform: rotate(0deg); /* Ensure label is not rotated */
  overflow: hidden;
}
.tooltip {
  position: absolute;
  background-color: white;
  color: black;
  border: 1px solid black;
  padding: 2px 5px;
  border-radius: 3px;
  z-index: 1000;
  transition: opacity 0.3s ease;
}

.label1 {
  top: -50px;
  left: 250px;
  transform: translateX(-50%);
}

.label2 {
  top: -50px;
  left: 1050px;
  transform: translateX(-50%);
}

.label3 {
  top: 560px;
  left: 780px;
}

.label4 {
  top: 140px;
  left: 660px;
  transform: translateX(-50%);
}
